.chat-container {
  width: 800px;
  height: 60vh;
  margin:auto;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 16px;
  overflow: scroll;
  h1{
    color: #3F3D56;
  }
}
.fixed-header {
  width: 800px;
  height: 20vh;
  margin:auto;
  margin-top: 12px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 16px;
  h1{
    color: #3F3D56;
  }
}

.message-box {
  // padding: 4px;
  // border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: white;
  width: fit-content;
  p {
    font-style : normal;
    padding: 12px;
  }
}
.you-msg {
  background-color: rgba(91, 207, 156, 0.5);
  text-align: left;
}
.you-container {
  text-align: -webkit-right;
}
.message-input{
  width: 800px;
  height: 15vh;
  margin:auto;
  overflow: inherit;
  background-color: rgba(0, 0, 0, 0.1);
}
