.container-dashboard {
  display: flex;
  p{
    font-size: 16px;
    color: #3F3D56;
  }
  
  .hold {
    margin: 16px;
    width: 80vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .card-dashboard {
      height: 360px;
      text-align: center;
      flex: 0 0 30%;
      padding: 0px 16px 0px 0px;
      
      img {
        height: 120px;
        width: 120px;
        margin-top: 32px;
        border-radius: 50%;
        object-fit: cover;
      }

      h4 {
        border-bottom: 2px solid #E5E5E5;
        margin: 8px;
        padding-bottom: 8px;
      }

      .container-badges {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px;

        img {
          width: 40px;
          height: 40px;
          margin: 0;
        }
      }

      .capsule {
        margin: 16px 0px 4px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          margin-right: 8px;
          margin-bottom: 0px;
        }
      }
    }

    .applications-projects {
      flex: 0 0 70%;
      padding: 0px 16px;

      .applications {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 16px;
        h5 {
          margin-bottom: 10px;
          padding-bottom: 8px;
          border-bottom: 2px solid #E5E5E5;
        }

        h4 {
          color: #3F3D56;
          margin-top: 16px;
        }

        p {
          margin: 0px;
        }

        .letter{
          width: 562.5px;
        }

        .description{
          width: 562.5px;
        }

        .fa-linkedin{
          color: #AAD8D3;
          font-size: 25px;
        }

        .fa-linkedin:hover{
          font-weight: bolder;
          transition-delay: 50ms;
        }

        .fa-github-square{
          color: #AAD8D3;
          font-size: 25px;
        }

        .fa-github-square:hover{
          font-weight: bolder;
          transition-delay: 50ms;
        }

        .accept-decline{
          display: flex;
          justify-content: space-around;
        }
      }
      .projects {
        margin-top: 32px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 16px;
        h3 {
          margin-bottom: 16px;
          padding-bottom: 8px;
          border-bottom: 2px solid #E5E5E5;
        }
        .dashboard-card-project {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 240px;
          margin: 16px;
          //padding: 16px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

          img {
            height: 100%;
            width: 40%;
            object-fit: cover;
          }

          .project-info {
            height: 100%;
            width: 60%;
            padding: 16px;
            position: relative;

            h4 {
              color: #00ADB5;
              font-weight: bold;
            }


            a {
              //text-align: right;
              position: absolute;
              bottom: 16px;
              right: 16px;
              color: #9C9696;

              &:hover {
                color: #495057;
              }
            }
            .display-flex-proj{
              height: 24px;
              width: 200px;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
  .container-sidebar {
    flex-shrink: 0;
    width: 380px;
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #AAD8D3;
  
    
    h4 {
      color: #3F3D56;
      font-size: 2vh;
      margin: 0px;
      padding: 2vh 0vh 1vh 2vh;
      border-bottom: 1px solid #E5E5E5;
    }
  
    .container-news {
      height: 43vh;
      margin: 2vh;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .container-news p{
      font-size:14px;
    }

    .dash-news{
      height: 52vh;
      margin: 2vh;
    }

    .container-projects {
      height: 43vh;
      margin: 2vh;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
      .card-project {
        height: 12.5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E5E5E5;
  
        .review-avatar {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 100%;
          margin: 8px 0px;
          flex: 0 0 33%;
  
          img {
            height: 56px;
            width: 56px;
            margin-bottom: 4px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          p {
            margin: 0px;
            font-size: 12px;
          }
        }
        .review-content {
          padding-right: 16px;
          flex: 0 0 66%;
  
          p {
            margin: 0px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.saved-items {
  h4 {
    color: #3F3D56;
    i{
      font-size: 18px;
    }
  }
  a {
    color: #00ADB5;
    transition: 0.2s;
    font-weight: bold;
    &:hover {
      text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
      padding: 8px;
    }
  }
}

.h5-links{
  color: #0E0000 !important;
}

.h5-links:hover{
  font-weight: bolder;
  opacity: 0.60;
  transition-delay: 50ms;
}

.btn-link {
  &:focus{
    text-decoration: none;
    box-shadow: none;
  }
  &:hover{
    text-decoration:none;
    opacity: 0.60;
    font-weight: bolder;
    transition-delay: 50ms;
  }
}


