// Import page-specific CSS files here.
@import "home";

.container-main {
  display: flex;

  .holder {
    margin: 32px;

    h1 {
      color: #AAD8D3;
    }

    .filter-bar {
  
    }

    .container-cards {
      flex-grow: 1;
      margin-top: 32px;
      display: grid;
      height: auto;
      grid-gap: 16px;

      .card-project {
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('project_default_background.jpg');
        background-color: black;
        background-size: cover;
        background-position: center;
        color: white;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        opacity: 0.9;

        &:hover {
          opacity: 1;
        }

        .cell {
          margin: 16px;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .container-sidebar {
    flex-shrink: 0;
    width: 360px;
    height: 100%;
    position: sticky;
    top: 0;
    background-color: #AAD8D3;

    .container-news {
      height: 50%;
      margin: 16px;
      background-color: white;
    }
    .container-reviews {
      height: 50%;
      margin: 16px;
      background-color: white;

      .card-review {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E5E5E5;

        .review-avatar {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          margin: 8px 0px;
          flex: 0 0 33%;

          img {
            max-height: 40%;
            margin-bottom: 8px;
          }

          p {
            margin: 0px;
            font-size: 12px;
          }
        }
        .review-content {
          margin: 8px;
          flex: 0 0 66%;

          p {
            margin: 0px;
            font-size: 14px;
          }
        }
      }
    }
  }
}