// Import page-specific CSS files here.
@import "home";
@import "profile";

.container-main {
  display: flex;

  .holder {
    margin: 32px;

    h1 {
      color: #AAD8D3;
    }
  }
  .container-sidebar {
    flex-shrink: 0;
    width: 360px;
    height: 92vh;
    position: sticky;
    top: 0;
    background-color: #AAD8D3;

    
    h4 {
      font-size: 2vh;
      margin: 0px;
      padding: 2vh 0vh 1vh 2vh;
      border-bottom: 1px solid #E5E5E5;
    }

    .container-news {
      height: 43vh;
      margin: 2vh;
      background-color: white;
    }
    .container-reviews {
      height: 43vh;
      margin: 2vh;
      background-color: white;

      .card-review {
        height: 12.5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E5E5E5;

        .review-avatar {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 100%;
          margin: 8px 0px;
          flex: 0 0 33%;

          img {
            max-height: 50%;
            margin-bottom: 4px;
          }

          p {
            margin: 0px;
            font-size: 12px;
          }
        }
        .review-content {
          word-break: break-all;
          padding-right: 16px;
          flex: 0 0 66%;

          p {
            
            margin: 0px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
