.page-form {
  background-color: rgba(170, 216, 211, .73);
  width: 100vw;
  height: 92vh;

  h2 {
    background-color: rgba(170, 216, 211, 1);
    width: 100vw;
    padding: 32px;
    text-align: center;
    font-size: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .container {
    width: 40%;
  
    .form-inputs {
      padding: 8px 0px;
  
      .division {
        display: flex;
        justify-content: center;
      }
      .form-group {
        flex-grow: 1;
        padding: 0 8px;
        
      }
    }
  
    .form-actions {
      display: flex;
      align-items: center;
      justify-content: center;

      .main-btn {
        background-color: #5BCF9C;
        margin: 20px;
      }
      
      .button-cancel {
        background-color: #e63946;
        color: #001219;
        font-style: normal;
        margin: 20px;
        font-weight: 400;
        font-size: 1rem;
        opacity: 0.9;
  
        &:hover {
          text-decoration: none;
          color: #001219;
          opacity: 1;
        }
      }
    }
  }
}
