body {
  background-color: rgba(170, 216, 211, .73);

  h2 {
    background-color: rgba(170, 216, 211, 1);
    width: 100vw;
    padding: 32px;
    text-align: center;
    font-size: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.container {
  width: 80%;

  .form-inputs {
    padding: 8px 0px;

    .division {
      display: flex;
      justify-content: center;
    }
    .form-group {
      flex-grow: 1;
      padding: 0 8px;
      
    }
  }

  .form-actions {
    text-align: center;
    .main-btn {
      background-color: #5BCF9C;
    }
  }
}