.flex-box {
  display: flex;
  height: 100vh;
  margin-top: 48px;
  margin-left: 48px;
}
.profile-bar {
  background-color: rgba(170, 216, 211, 0.6);
  padding: 32px;
  width: 600px;
  h2{
    color: #3F3D56;
  }
}
