.proj-desc{
  // padding-top: 32px;
  background-color: rgba(170, 216, 211, 0.6);
  box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
  border-radius: 3px;
  .fa-bookmark{
    position: absolute;
    right: 56px;

    font-size: 32px;
    color: rgba(255, 255, 255, 0.4);
    transition: 0.2s;
    &:hover {
      color:#FAD67B;
    }
  }
  .add {
    color: #FAD67B;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    &:hover{
      color: rgba(250, 214, 123, 0.5);
    }
  }
  h2 {
    padding-top: 48px;
    color: #3F3D56;
  }
  h3 {
    color: rgba(0, 0, 0, 0.8);
  }
  h4 {
    color: #00ADB5;
  }
}

.proj-photo img{
  width: 100%;
  height: 300px;
  border-radius: 3px 3px 0px 0px;
  object-fit: cover;
}

.img-btn{
  border-radius: 3px;
}

.buttons{
  display: flex;
  justify-content: flex-end;
}

.btn-space{
  display: flex;
  justify-content: space-between;
}

.dates{
  display:flex;
  justify-content: space-between;
}

.img-btn{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pict-org{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    a{
      color: #3F3D56;
      transition: 0.2s;
      &:hover {
        color: #00ADB5;
      }
    }
  }
}

.pict-org img{
 border-radius: 50%;
 height: 80px;
 width: 80px;
 object-fit: cover;
}

.container {
  p{
    font-size: 16px !important;
    color: #3F3D56;
    font-weight: 300;
  }
}

.map-style {
  padding: 4px;
  border: 1px solid white;
  border-radius: 3px;
  width: 100%;
  height: 300px;
}
