.profile-main-container {
  margin: 48px;
  margin-bottom: 0px;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  // margin-top: 48px;
  // margin-left: 48px;
}
.profile-bar {
  background-color: rgba(170, 216, 211, 0.6);
  border-radius: 4px;
  padding: 32px;
  width: 600px;
  h2{
    color: #3F3D56;
  }
  .profile-bar-photo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
}
.flex-item {
  display: flex;
  margin: 12px;
    // h2 {
    //   display: flex;
    //   align-self: center;
    //   width: 100%;
    //   height: 20%;
    //   margin-left: 32px;
    //   font-size: 36px;
    // }
}
.profile-header {
  .container-badges {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0px;
    padding-bottom: 8px;
    //border-bottom: 2px solid #E5E5E5;

    img {
      width: 40px;
      height: 40px;
      margin: 0px 4px;
      //margin-left: 8px;
    }
    #reviewer-js, #experienced-js, #top_rated-js {
      display: none;
      margin: 0;
    }
  }
    h2 {
      display: flex;
      align-self: center;
      width: 100%;
      height: 20%;
      margin-left: 32px;
      font-size: 36px;
    }
    p {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      margin-bottom: 0px;
      width: 100%;
      height: 20%;
      font-weight: 300;
      color: rgba(150, 150, 150, 1);
    }
    i {
      color: rgba(150, 150, 150, 1);
      text-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
      display: inline;
      justify-content: center;
      height: 20%;
      font-size: 18px;
    }
    .full-star {
      color: #FAD67B;
      text-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
      display: inline;
      justify-content: center;
      height: 20%;
      font-size: 18px;
      margin-bottom: 0;
    }
    .rev-count {
      margin-top: 0;
      color: #969696
    }
}

.profile-bar-content {
  margin-top: 16px;
  p {
    color: #3F3D56;
    font-weight: 300;
  }
  img {
    height: 32px;
  }
}
.profile-container {
  width: 600px;
}
// .card-container {
//   margin-top: 8px;
//   display: flex;
//   // flex-wrap: wrap;
//   flex-flow: row wrap;
//   padding: 0;

// }

#accept-volunteers {
  color: #00ADB5;
  display: flex;
  img {
    height: 32px;
  }
  p {
    display: flex;
    align-self: center;
    margin-top: 8px;
    margin-left: 16px;
  }
}
.header {
  color: #3F3D56;
  background-color: white;
  padding: 12px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
  
  h3 {
    margin-bottom: 0;
  }
}
