.proj-desc{
  background-color:#AAD8D3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
}

.proj-photo img{
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}

.img-btn{
  border-radius: 3px;
}

.buttons{
  display: flex;
  justify-content: flex-end;
}

.btn-space{
  display: flex;
  justify-content: space-between;
}

.dates{
  display:flex;
  justify-content: space-between;
}

.img-btn{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pict-org{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pict-org img{
 border-radius: 50%;
 height: 80px;
}

p{
  font-size: 16px !important;
  color: #3F3D56;
  font-weight: 300;
}
