<div class="container dev">
  <h1>The Good Developers</h1>
  <p>In only two weeks our developers created a fully functional application, lots of hard work involved and not enough sleep, we were only 3 so there was even more work for each one of us. When we look at the final result we can be proud of what we acomplished and obviously all the hard word has paid off. I want to thank my partners for they're great work and commitment. To Emma and Oz, I'm sure your future in web development will be nothing but brilliant, <br><em>Love, Natalia.</em></p>
  <div class="cards d-flex justify-content-center">
    <div class="card-dev">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Emmacard", class: "avatar-dev", alt: "avatar-large" %>
      <h4>Emma Cardon</h4>
      <p>Full Stack Developer</p>
      <hr>
      <div class="d-flex justify-content-center">
        <a href="https://github.com/Emmacard"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/emma-cardon-45461066/"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>

    </div>
    <div class="card-dev">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/OzgurFiratSayin", class: "avatar-dev", alt: "avatar-large" %>
      <h4>Ozgur Firat Sayin</h4>
      <p>Full Stack Developer</p>
      <hr>
      <div class="d-flex justify-content-center">
        <a href="https://github.com/OzgurFiratSayin"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ozgur-firat-sayin-2b020b19/"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>

    </div>
    <div class="card-dev">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/nataliarossini", class: "avatar-dev", alt: "avatar-large" %>
      <h4>Natalia Rossini </h4>
      <p>Full Stack Developer</p>
      <hr>
      <div class="d-flex justify-content-center">
        <a href="https://github.com/nataliarossini"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/natalia-rossini-727338116/"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
