<div class="container">
  <h1>The Good Developers</h1>
  <p>In only two weeks our developers created a fully functional application, lots of hard work involved and not enough sleep, we were only 3 so there was even more work for each one of us. When we look at the final result we can be proud of what we acomplished and obviously all the hard word has paid off. I want to thank my partners for they're great work and commitment. To Emma and Oz, I'm sure your future in web development will be nohing but brilliant, <br> Love, Natalia.</p>
  <div class="cards d-flex justify-content-center d-flex">
    <div class="card-dev">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Emmacard", class: "avatar-dev", alt: "avatar-large" %>
      <h3>Emma Cardon</h3>
    </div>
    <div class="card-dev">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/OzgurFiratSayin", class: "avatar-dev", alt: "avatar-large" %>
      <h3>Ozgur Firat Sayin</h3>
    </div>
    <div class="card-dev">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/nataliarossini", class: "avatar-dev", alt: "avatar-large" %>
      <h3>Natalia Rossini </h3>
    </div>
  </div>
</div>
