<div class="banner">
<h1>Share your skills, <br> help people,<br> be a volunteer.</h1>
<div class="banner-btns">
<%= link_to 'See Projects', projects_path, class: 'main-btn' %>
<%= link_to 'Learn More' , root_path, class: 'border-btn' %>
</div>
</div>
<div class="container">
  <h2>About us</h2>
  <p>We want to connect IT professionals and institutions who are willing to make a lasting change around the world. Together we can make a difference.</p>
  <h2>How it works</h2>
  <p>If you are a IT professional you can apply to work as a volunteer. We provide a range of intitutions willing to host you in exchange of your services. </p>
  <div class="d-flex">
    <%= image_tag 'img1.svg', class: 'img-home' %>
    <span>1 Join our community</span>
    <span>2 Aplly to a project</span>
    <span>3 Wait for your
application approval</span>
    <span>4 Gain experience while working
 in meaningful projects!</span>
  </div>
  <p>If you are a charity institution or a business aiming to work on along with high skilled IT professionals, The Good Dev got your back! You won’t have to worry about your bugdet, all you have to do is to host our amazing professionals who’s willing to help your cause and the community.</p>
    <div class="d-flex">
    <span>1 Join our community</span>
    <span>2 Aplly to a project</span>
    <span>3 Wait for your application approval</span>
    <span>4 Gain experience while working in meaningful projects!</span>
    <%= image_tag 'img2.svg', class: 'img-home' %>
  </div>

  <div class="recents">
    <h3>Recently posted</h3>
    <div class="recent-cards"></div>
    <% @projects.each do |project| %>

    <% end %>
  </div>
</div>
