<div class="card-news">
  <%= image_tag "women.jpeg", alt: "alttext" %>
  <div class="news-content">
    <h4>Woman in Dev</h4>
    <p>Our initative to incentive women paticipation in tecnology and bring equali...<a href="#">Read</a></p>
  </div>
</div>
<div class="card-news">
  <%= image_tag "volunteers3.jpeg", alt: "alttext" %>
  <div class="news-content">
    <h4>Education</h4>
    <p>Volunteers made programming more accessible by teaching a group of 12 children in Kenia...<a href="#">Read</a></p>
  </div>
</div>
<div class="card-news">
  <%= image_tag "volunteers.png", alt: "alttext" %>
  <div class="news-content">
    <h4>Fundraising</h4>
    <p>The good dev had started a new fundraise project in order to provide compu... <a href="#">Read</a></p>
  </div>
</div>

