.banner {
  padding-top: 8vh;
  // background: asset-url('banner.svg') no-repeat right;
  background-color: #EEEEEE;
  height: 100vh;
  text-indent: inherit;


  h1 {
    color: #393E46;
    font-weight: normal;
    padding-top: 15%;
    padding-left: 32px;
    font-size: 3.5em;
  }

}
.banner-btns {
  margin: 32px;
}

.sub-banner {
  // background: asset-url('sub-banner2.svg') no-repeat left;
  height: 60vh;
  text-align: right;
  h2 {
    color: #393E46;
    padding-top: 48px;
    padding-right: 32px;
    font-size: 3em;
  }
  p {
    font-weight: lighter;
    font-size: 32px;
    padding-right: 32px;
  }
}
.sub-banner-sml {
  // background: asset-url('sub-banner2.svg') no-repeat left;
  height: 35vh;
  text-align: left;
  display:flex;
  h2 {
    color: #393E46;
    padding-top: 48px;
    padding-right: 32px;
    font-size: 3em;
  }
  a {
    margin-top: 12px;
  }
}
