.main-btn {
  padding: 16px 24px;
  border-radius: 24px;
  background-color: #AAD8D3;
  color: #393E46;
  font-weight: 300;
  transition: 0.3s;
  &:hover{
    color:white;
    background-color: #97BFBB;
  }
}
.border-btn {
  padding: 16px 24px;
  border-radius: 24px;
  border: 1px solid #AAD8D3;
  color: rgba(0, 173, 181, 1);
  font-weight: 300;
  transition: 0.3s;
  &:hover {
    color: #8b8c89;
  }
}

.back-btn{
  color: #9fa4a9;
  text-decoration: underline;
}

.back-btn:hover{
  color: #8b8c89;
  text-decoration: underline;
}

.btn-light-green {
  color: white;
  background-color: #5BCF9C;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  border-style: none;
}

.btn-light-green:hover {
  color: white;
  opacity: 0.8;
}

.btn-coral {
  color: white;
  background-color: #ff9b85;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  border-style: none;
}

.btn-coral:hover {
  color: white;
  opacity: 0.8;
}

.btn-filter {
  text-decoration: none;
  color: #393E46;
  border-style: none;
  font-size: 18px;
  background-color: transparent;
  transition: 0.2s;
  font-weight: lighter;
  i {
    // font-weight: lighter;
    font-size: 12px;
  }
  &:hover {
    color: #00ADB5;
  }
}
