.main-btn {
  padding: 16px 24px;
  border-radius: 24px;
  background-color: #AAD8D3;
  color: #393E46;
  font-weight: 300;
}
.border-btn {
  padding: 16px 24px;
  border-radius: 24px;
  border: 1px solid #AAD8D3;
  color: #AAD8D3;
  font-weight: 300;
}
