.container-cards {
      flex-grow: 1;
      margin-top: 32px;
      display: grid;
      height: auto;
      grid-gap: 16px;

  .card-project {
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    opacity: 0.98;

    &:hover {
      opacity: 1;
    }

    .cell {
      margin: 16px;

      p {
        margin: 0;
      }
    }
  }
}
