.navbar-lewagon {
  justify-content: space-between;
  background-color: #EEEEEE;
  height: 8vh;
  transition: 0.5s background-color ease;
  padding-right: 120px;
  padding-left: 120px;
}
.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 156px;
  // margin-left: 120px;
}
.notification-msg {
  text-align: center;
  background-color: rgba(247, 91, 82, 0.9);
  color: white;
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 12px;
}
.messages {
  display: inline-flex;
}
