.navbar-lewagon {
  justify-content: space-between;
  background-color: #EEEEEE;
  height: 8vh;
  transition: 0.5s background-color ease;
}
.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 156px;
}
