// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/new";

a:hover {
  text-decoration: none;
}

@media (max-width: 10000px) {
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
  .container-sidebar {
    display: none;
  }
}

@media (max-width: 576px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 100px) and (max-width: 575px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
}