// Graphical variables
@import "jquery-bar-rating/dist/themes/css-stars";
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/container";
@import "pages/index";
@import "pages/new";
@import "pages/dashboard";
@import "pages/chatroom";
@import "pages/project_show";
@import "pages/volunteer_show";
@import "pages/developers";



a:hover {
  text-decoration: none;
}

@media (max-width: 10000px) {
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }
  .banner {
    flex-direction: column;
    justify-content: unset;
    height: fit-content;
    // h1 {
    //   margin: 0 24px;
    // }
    img {
      height: 30vh;
      align-self: center;
    }
  }
  .home-margin {
    flex-direction: column-reverse;
    // margin: 0;
    // padding: 24px;
  }
  .sub-banner {
    // font-size: small;
    min-height: 70vh;
    img {
      height: 30vh;
    }
  }
  .container-home .container-howitworks .capsule #center-image img {
    height: 80%;
  }
}

@media (max-width: 992px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  body {
    font-size: smaller;
    p {
      font-size: 1.5rem;
    }
  }
  .container-cards {
    grid-template-columns: 1fr;
  }
  .container-sidebar {
    display: none;
  }
  .home-margin {
    margin: 24px;
    h1 {
      font-size: 48px;
      padding: 15% 0;
      // padding-left: 0;
    }
  }
  .banner-btns {
    margin: 24px;
    display: flex;
    text-align: center;
    flex-direction: column;

    .main-btn {
      margin-bottom: 8px;
    }
  }
  .banner {
    height: fit-content;
    h1 {
      font-size: 2rem;
      margin: 0 24px;
    }
    img {
      height: 280px;
      align-self: center;
    }
  }
  .sub-banner {
    font-size: small;
    height: fit-content;
    p {
      font-size: 1.5rem;
    }
    img {
        height: 25vh;
    }
  }

  .sub-banner-sml {
    display: none;
  }

  .home-margin {
    flex-direction: column-reverse;
    margin: 0;
    padding: 24px;
  }

  .container-home {
    h2 {
      font-size: 2rem;
    }
    .container-howitworks{
      margin-bottom: 48px;
      p {
      font-size: 1.5rem;
      }
      .capsule {
        height: 80vh;
        margin-bottom: 16px;
      }
      .capsule #center-image {
        img {
          height: 50%; 
        }
        #step1 {
          position: initial;
        }
        #step2 {
          position: initial;
        }
        #step3 {
          position: initial;
        }
        #step4 {
          position: initial;
        }
        .step h1 {
          font-size: 24px;
        }
      }
    }    
  }
  #pre-footer {
    display: none;
  }
  .recent-posted {
    display: none;
  }
  .footer-wrap {
    flex-direction: column;
  }
  .credit {
    font-size: 12px;
  }
  .navbar {
    height: auto;
  }
}

@media (max-width: 576px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
  .nav-item{
    font-size: 16px;
    right: 0;
    text-align: center;
    padding: 24px;
    margin: 16px;
    color: #393e46;
    .main-btn {
      all: unset;
    }
    .border-btn {
      all:unset;
    }
  } 
  
}

@media (max-width: 100px) and (max-width: 575px) {
  .container-cards {
    grid-template-columns: 1fr;
  } 
}
