<div class="container-main">
  <div class="container-form">
    <h2> Leave a Review </h2>
      <%= simple_form_for [@reviewed, @review], :url => @reviewed.is_a?(User) ? user_reviews_path : project_reviews_path do |f| %>
        <%= f.input :content, label: 'Share your thoughts' %>
        <%= f.select :rating, 0..5, label: 'Rate' %><br>
        <%= f.button :submit, "Submit your review", class: "btn-success" %>
      <% end %>
  </div>
</div>