<div class="page-form">
  <h2> Leave a Review </h2>
  <div class="container">
      <%= simple_form_for [@reviewed, @review], :url => @reviewed.is_a?(User) ? user_reviews_path : project_reviews_path do |f| %>
      <div class="form-inputs">
        <div class="division">
          <%= f.input :content, label: 'Share your thoughts' %>
        </div>
          <%= f.select :rating, 0..5, label: 'Rate' %><br>

        <div class="form-actions">
          <%= f.button :submit, "Submit your review", class: "main-btn" %>
        </div>
      </div>
      <% end %>
  </div>
</div>
